<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
This blog system is implemented by Kaile Liang. email: liangkaile@gmail.com 
</p>
<p>
The <a href="http://railstutorial.org/contact">Rails Tutorial</a> helped me a lot.
</p>
